<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css" />
<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
  <form id="add-performer-form" action="/meals" method="POST">
    <label for="name-input">Meal Name:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Meal</button>
  </form>
  <p>Please ensure that the Meal is not already below:  </p>
  <ul>
    <% meals.forEach(meal => { %>
      <li><%= meal.name %></li>  
    <% }) %>
    </ul>
</main>

<%- include('../partials/footer') %>