<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
  id="edit-form" 
  action="/flights/<%= flight._id %>?_method=PUT" 
  method="POST"
  >
    <label for="airline-input">Airline (American, Southwest, or United):</label>
    <input type="text" name="airline" id="airline-input" value="<%= flight.airline %>">
    
    <label for="airport-select">Airport:</label>
    <select name="airport" id="airport-select">
      <option value="<%= flight.airport %>"><%= flight.airport %></option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>

    <label for="flight-number">Flight Number (between 10-9999):</label>
    <input type="text" name="flightNo" id="flight-number" value="<%= flight.flightNo %>">
    
    <label for="departure-date">Departure Date:</label>
    <input type="datetime-local" name="departs" id="flight-number" value="<%= flight.departs.toISOString().slice(0, 16)%>">

    <button type="submit">Edit Flight</button>
  </form>
</main>

<%- include("../partials/footer") %>
