<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>      
    </div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Date: </div>
    <div><%= flight.departs %></div>
  </section>
  
 <h2>Meals Added</h2>
  <% if (flight.meals.length) { %>
    <ul>
      <% flight.meals.forEach(meal => { %>
        <li><%= meal.name %></li>
      <% }) %>
  <% } %>    
    </ul>
    <h3>Add Meals</h3>
  <form 
  action="/flights/<%= flight._id %>/meals"
  method="POST">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit"> Add Meal To Flight </button>
  </form>


  <h2>Tickets</h2>
  <form 
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-text">Seat</label>
    <input type="text" name="seat" id="seat-text" placeholder="A1-F99">
    <label for="ticket-price">Price</label>
    <input type="text" name="price" id="ticket-price" placeholder="must be > 0">
    <button type="submit">Add Ticket</button>
  </form>

  <% if (flight.tickets.length) { %>
   <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Seat (A1 - F99)</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(ticket => { %>
      <tr>
        <td><%= ticket.createdAt.toLocaleDateString() %></td>
        <td><%= ticket.seat %></td>
        <td><%= ticket.price %></td>
        <td>
          <form 
          id="edit-form" 
          action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" 
          method="POST"
          >
            <button>Delete Ticket</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %>

</main>
  
<%- include('../partials/footer') %>


